*.dat filter=lfs diff=lfs merge=lfs -text
*.xyz filter=lfs diff=lfs merge=lfs -text
*.dat_partial filter=lfs diff=lfs merge=lfs -text
/TEST/GaAs/data_driver_GaN_bulk filter=lfs diff=lfs merge=lfs -text
/TEST/GaAs/dr filter=lfs diff=lfs merge=lfs -text
*.99 filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
*.gen filter=lfs diff=lfs merge=lfs -text
*.DAT filter=lfs diff=lfs merge=lfs -text
/TEST/GaN/data_driver_GaN_QD filter=lfs diff=lfs merge=lfs -text
/TEST/GaN/data_driver_GaN_bulk filter=lfs diff=lfs merge=lfs -text
/TEST/GaN/dr filter=lfs diff=lfs merge=lfs -text
*.script filter=lfs diff=lfs merge=lfs -text
/TEST/GaN/log filter=lfs diff=lfs merge=lfs -text
*.m filter=lfs diff=lfs merge=lfs -text
*.input filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_well/GaN_kpoints filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_well/GaN_kpoints_all filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_well/data_driver_GaN_well filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_well/dr filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
*.IN filter=lfs diff=lfs merge=lfs -text
/bulk/SiO2_cristobal filter=lfs diff=lfs merge=lfs -text
/bulk/param_sio2_cristobalite filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
/src/Makefile filter=lfs diff=lfs merge=lfs -text
*.f90 filter=lfs diff=lfs merge=lfs -text
*.out filter=lfs diff=lfs merge=lfs -text
*.f filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_slab/data_driver_GaN_slab filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_slab/dr filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_slab/log filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_slab/out filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_slab/output filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_column/data_driver_GaN_QD filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_column/dr filter=lfs diff=lfs merge=lfs -text
