*.dat filter=lfs diff=lfs merge=lfs -text
*.xyz filter=lfs diff=lfs merge=lfs -text
*.dat_partial filter=lfs diff=lfs merge=lfs -text
/TEST/GaAs/data_driver_GaN_bulk filter=lfs diff=lfs merge=lfs -text
/TEST/GaAs/dr filter=lfs diff=lfs merge=lfs -text
*.99 filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
*.gen filter=lfs diff=lfs merge=lfs -text
*.DAT filter=lfs diff=lfs merge=lfs -text
/TEST/GaN/data_driver_GaN_QD filter=lfs diff=lfs merge=lfs -text
/TEST/GaN/data_driver_GaN_bulk filter=lfs diff=lfs merge=lfs -text
/TEST/GaN/dr filter=lfs diff=lfs merge=lfs -text
*.script filter=lfs diff=lfs merge=lfs -text
/TEST/GaN/log filter=lfs diff=lfs merge=lfs -text
*.m filter=lfs diff=lfs merge=lfs -text
*.input filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_well/GaN_kpoints filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_well/GaN_kpoints_all filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_well/data_driver_GaN_well filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_well/dr filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
*.IN filter=lfs diff=lfs merge=lfs -text
/bulk/SiO2_cristobal filter=lfs diff=lfs merge=lfs -text
/bulk/param_sio2_cristobalite filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
/src/Makefile filter=lfs diff=lfs merge=lfs -text
*.f90 filter=lfs diff=lfs merge=lfs -text
*.out filter=lfs diff=lfs merge=lfs -text
*.f filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_slab/data_driver_GaN_slab filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_slab/dr filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_slab/log filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_slab/out filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_slab/output filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_column/data_driver_GaN_QD filter=lfs diff=lfs merge=lfs -text
/TEST/GaN_column/dr filter=lfs diff=lfs merge=lfs -text
*.etb filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/LICENSE filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/README filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/example/C/1_dense/Makefile filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/example/C/2_banded/Makefile filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/example/C/3_sparse/Makefile filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/example/Fortran/1_dense/Makefile filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/example/Fortran/2_banded/Makefile filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/example/Fortran/3_sparse/Makefile filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/example/Makefile filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/example/README filter=lfs diff=lfs merge=lfs -text
*.inc filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/example/system1 filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/example/system2 filter=lfs diff=lfs merge=lfs -text
*.fi filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/src/HOWTO filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/src/LICENSE filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/src/Makefile filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/utility/C/Makefile filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/utility/Fortran/Makefile filter=lfs diff=lfs merge=lfs -text
/src/FEAST/1.0/utility/README filter=lfs diff=lfs merge=lfs -text
*.A filter=lfs diff=lfs merge=lfs -text
*.B filter=lfs diff=lfs merge=lfs -text
*.m4 filter=lfs diff=lfs merge=lfs -text
/src/api/Makefile filter=lfs diff=lfs merge=lfs -text
*.C filter=lfs diff=lfs merge=lfs -text
/src/api/bind_fortran filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/src/api/tiber_test/Makefile filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.guess filter=lfs diff=lfs merge=lfs -text
*.sub filter=lfs diff=lfs merge=lfs -text
/src/configure filter=lfs diff=lfs merge=lfs -text
*.ac filter=lfs diff=lfs merge=lfs -text
/src/install-sh filter=lfs diff=lfs merge=lfs -text
*.F90 filter=lfs diff=lfs merge=lfs -text
*.cu filter=lfs diff=lfs merge=lfs -text
/src/lib_uptight/Makefile filter=lfs diff=lfs merge=lfs -text
*.dep filter=lfs diff=lfs merge=lfs -text
/src/lib_uptight/script filter=lfs diff=lfs merge=lfs -text
/src/palloc/Makefile filter=lfs diff=lfs merge=lfs -text
/src/tests/AlAs_bulk/Makefile filter=lfs diff=lfs merge=lfs -text
/src/tests/AlAs_bulk/dr_rel filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
/src/tests/AlGaAs_qw/Makefile filter=lfs diff=lfs merge=lfs -text
/src/tests/AlGaAs_qw/dr filter=lfs diff=lfs merge=lfs -text
*.upg filter=lfs diff=lfs merge=lfs -text
/src/tests/AlGaN_bulk/Makefile filter=lfs diff=lfs merge=lfs -text
/src/tests/AlGaN_bulk/dr_bands filter=lfs diff=lfs merge=lfs -text
/src/tests/AlGaN_bulk/dr_rel filter=lfs diff=lfs merge=lfs -text
/src/tests/AlGaN_bulk/kpoints filter=lfs diff=lfs merge=lfs -text
/src/tests/AlGaN_bulk/out filter=lfs diff=lfs merge=lfs -text
/src/tests/AlGaN_column/Makefile filter=lfs diff=lfs merge=lfs -text
/src/tests/AlGaN_column/dr filter=lfs diff=lfs merge=lfs -text
/src/tests/AlGaN_column/tail filter=lfs diff=lfs merge=lfs -text
/src/tests/AlGaN_column_big/dr filter=lfs diff=lfs merge=lfs -text
/src/tests/AlGaN_column_big/out filter=lfs diff=lfs merge=lfs -text
/src/tests/AlGaN_qw/Makefile filter=lfs diff=lfs merge=lfs -text
/src/tests/AlGaN_qw/dr_rel filter=lfs diff=lfs merge=lfs -text
*.mo filter=lfs diff=lfs merge=lfs -text
*.agr filter=lfs diff=lfs merge=lfs -text
/src/tests/AlN_bulk/Makefile filter=lfs diff=lfs merge=lfs -text
/src/tests/AlN_bulk/dr_bands filter=lfs diff=lfs merge=lfs -text
/src/tests/AlN_bulk/dr_lpk filter=lfs diff=lfs merge=lfs -text
/src/tests/AlN_bulk/dr_non_rel filter=lfs diff=lfs merge=lfs -text
/src/tests/AlN_bulk/dr_rel filter=lfs diff=lfs merge=lfs -text
/src/tests/AlN_bulk/kpoints filter=lfs diff=lfs merge=lfs -text
/src/tests/GaAs_bulk/Makefile filter=lfs diff=lfs merge=lfs -text
/src/tests/GaAs_bulk/dr_bands filter=lfs diff=lfs merge=lfs -text
/src/tests/GaAs_bulk/dr_rel filter=lfs diff=lfs merge=lfs -text
/src/tests/GaAs_bulk/kpoints filter=lfs diff=lfs merge=lfs -text
/src/tests/GaN_bulk/Makefile filter=lfs diff=lfs merge=lfs -text
/src/tests/GaN_bulk/dr_bands filter=lfs diff=lfs merge=lfs -text
/src/tests/GaN_bulk/kpoints filter=lfs diff=lfs merge=lfs -text
/src/tests/GaN_bulk/tail filter=lfs diff=lfs merge=lfs -text
/src/tests/GaN_column/Makefile filter=lfs diff=lfs merge=lfs -text
/src/tests/GaN_column/dr filter=lfs diff=lfs merge=lfs -text
/src/tests/GaN_column/tail filter=lfs diff=lfs merge=lfs -text
/src/tests/InGaN_qdisk/dr filter=lfs diff=lfs merge=lfs -text
/src/tests/InN_bulk/dr_bands filter=lfs diff=lfs merge=lfs -text
/src/tests/InN_bulk/kpoints filter=lfs diff=lfs merge=lfs -text
/src/tests/InN_bulk/kpoints_wz filter=lfs diff=lfs merge=lfs -text
/src/tests/Qdot/dr filter=lfs diff=lfs merge=lfs -text
/src/tests/Qdot_IWCE/dr filter=lfs diff=lfs merge=lfs -text
/src/tests/Qdot_test10/Makefile filter=lfs diff=lfs merge=lfs -text
/src/tests/Qdot_test10/dr filter=lfs diff=lfs merge=lfs -text
/src/tests/README filter=lfs diff=lfs merge=lfs -text
/src/tests/SiO2_bulk/dr filter=lfs diff=lfs merge=lfs -text
/src/tests/Si_SiO2_qw/dr filter=lfs diff=lfs merge=lfs -text
/src/tests/Si_ZrO_nw/dr filter=lfs diff=lfs merge=lfs -text
/src/tests/Si_ZrO_nw/tail filter=lfs diff=lfs merge=lfs -text
/src/tests/Si_bulk/Makefile filter=lfs diff=lfs merge=lfs -text
/src/tests/Si_bulk/dr filter=lfs diff=lfs merge=lfs -text
/src/tests/Si_bulk/kpoints filter=lfs diff=lfs merge=lfs -text
*.pm filter=lfs diff=lfs merge=lfs -text
/src/tests/ZrO2_bulk/dr filter=lfs diff=lfs merge=lfs -text
/src/tests/run_tests filter=lfs diff=lfs merge=lfs -text
/src/tests/tests filter=lfs diff=lfs merge=lfs -text
